
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<input type="text" id="search" name="search" placeholder="Enter a product..."/>

<script>
    +function ($) { "use strict";

    }(window.jQuery)
</script>

